/* our-team */
.slider-container {
    position: relative;
  }
  
  .slider-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 52px;
    height: 72px;
    padding: 10px;
    color: red;
    /* background-color: aqua; */
  }
  
  .slider-btn.prev {
    left: -54px;
  }
  
  .slider-btn.next {
    right: -54px;
  }
  
  .slider-btn svg {
    width: 100%;
    height: auto;
  }
  
  .our-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /* border: 1px solid blue; */
    margin: 0 -15px;
  }
  
  .our-team-list__item {
    width: 262px;
    margin: 15px;
    /* border: 1px solid red; */
  }
  
  .photo-box {
    position: relative;
    border: 1px solid rgba(59, 67, 76, 0.3);
    background-color: rgb(255, 255, 255);
    width: 235px;
    height: 285px;
    border-radius: 10px;
    margin: 0 auto 28px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .our-team-list__item:hover .photo-box {
    /* overflow: hidden; */
    width: 100%;
  }
  .our-team-list__item:hover .photo-box img {
    height: 300px;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  
  .photo-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    border-radius: 10px;
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
  
  .name {
    margin-bottom: 26px;
    font-weight: 600;
    font-size: 25px;
    color: rgb(59, 67, 76);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
  }
  
  .social {
    font-size: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  .social img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
  }
  .social a:not(:last-child) {
    margin-right: 15px;
  }
  
  .biography {
    text-align: center;
    font-size: 14px;
    color: rgb(59, 67, 76);
    line-height: 1.857;
  }
  
  .photo-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 4px solid rgb(247, 96, 14);
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .our-team-list__item:hover .photo-box::after {
    opacity: 1;
  }
  
  .our-team-list__item:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }