/* header */

.header {
    padding-top: 50px;
    padding-bottom: 52px;
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(59, 67, 76, 0.8)),
        color-stop(8%, rgba(59, 67, 76, 0.8)),
        color-stop(28%, rgba(59, 67, 76, 0.8)),
        to(rgba(59, 67, 76, 0.8))
      ),
      url("../images/header/header-bg.jpg") no-repeat center;
    background: -o-linear-gradient(
        left,
        rgba(59, 67, 76, 0.8) 0%,
        rgba(59, 67, 76, 0.8) 8%,
        rgba(59, 67, 76, 0.8) 28%,
        rgba(59, 67, 76, 0.8) 100%
      ),
      url("../images/header/header-bg.jpg") no-repeat center;
    background: linear-gradient(
        90deg,
        rgba(59, 67, 76, 0.8) 0%,
        rgba(59, 67, 76, 0.8) 8%,
        rgba(59, 67, 76, 0.8) 28%,
        rgba(59, 67, 76, 0.8) 100%
      ),
      url("../images/header/header-bg.jpg") no-repeat center;
    background-size: cover;
  }
  
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 170px;
  }
  
  .logo {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  
  .logo span {
    font-weight: 800;
    color: #f7600e;
  }
  
  /* menu */
  
  .menu__item-link {
    color: #fff;
  }
  
  .menu__item-link:hover,
  .menu__item-link--active {
    color: #f7600e;
    text-decoration: underline;
  }
  
  .menu-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 17px;
  }
  
  .hamburger {
    margin-left: 20px;
  }
  
  .hamburger .line {
    width: 26px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .hamburger .line:first-child {
    margin-top: 0;
  }
  .hamburger .line:last-child {
    margin-bottom: 0;
  }
  
  .hamburger:hover {
    cursor: pointer;
  }
  
  #hamburger-1.is-active .line:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-1.is-active .line:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
    -ms-transform: translateY(9px) rotate(45deg);
    transform: translateY(9px) rotate(45deg);
  }
  
  #hamburger-1.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
  }
  
  /* End Menu */
  
  .title__text--orange {
    color: #f7600e;
    font-size: inherit;
  }
  
  .title {
    margin-bottom: 26px;
    font-size: 70px;
    font-weight: 800;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
  }
  
  .slogan {
    max-width: 820px;
    margin: 0 auto 62px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    line-height: 40px;
    text-align: center;
  }
  
  .btn {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 214px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    line-height: 2.5;
    -webkit-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
  }
  .btn:focus,
  .btn:hover {
    border-color: #f7600e;
    background-color: #f7600e;
  }
  
  .btn-wrp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 196px;
  }
  
  .header .btn:first-child {
    margin-right: 30px;
  }
  
  .btn-bottom {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #fff;
    background: url("../images/icons/down-arrow.svg") no-repeat center;
    background-size: 50%;
  }